<% @title="Aura" %>

<div class="inner-wrapper">
    <div class="recent">
        <h3>Recent SKUs:</h3>

        <table class="recent">
          <tr>
              <td class="table-header">SKU</td>
              <td class="table-header">Information</td>
              <td class="table-header">Brand</td>
          </tr>
            <% @skus.each do |sku| %>
            <%  @json = sku.values[0] %>
            <% @skuID = sku.keys[0] %>

            <tr onclick="window.document.location='/result?sku=<%= @skuID %>';">
                <td class='barcode'>

                    <div class='barcode'><%= base64_image(generateBarcode(@skuID))  %><%= @skuID %></div>
                </td>
                <td class="model"><%= @json["Model"] %>
                </td>
                <td class='brand'><%= @json["Brand"] %></tr>

                <% end %>
            </table>
        </div>
    </div>
