<!DOCTYPE html>
<html>
    <head>
        <%= favicon_link_tag 'favicon.ico' %>
        <title><%= @title %></title>
        <% if @style %>
          <%= stylesheet_link_tag  @style %>
        <% else %>
          <%= stylesheet_link_tag  'home' %>
        <% end %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="container">

            <%= render 'layouts/main_navigation' %>

            <div class="wrapper">

                    <%= yield %>
            
            </div>
        </div>
    </body>
</html>
